In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2]
}
res=pd.DataFrame(data)
print("Student Records\n\n",res)

Student Records

   student  rank
0    Amit     1
1    John     4
2   Jacob     3
3   David     5
4   Steve     2

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]
}
res=pd.DataFrame(data)
print("Student Records\n\n",res)

Student Records

   student  rank  marks
0    Amit     1     95
1    John     4     70
2   Jacob     3     80
3   David     5     60
4   Steve     2     90

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]
}
df=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("Student Records\n\n",df)

print("\nValue = ",df.loc['RowB','student'])
print("\nValue = ",df.loc['RowB','rank'])

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Value =  John

Value =  4

In [ ]:
import pandas as pd

# Dataset
data = {
  'Student': ["Amit", "John", "Jacob", "David", "Steve"],
  'Rank': [1, 4, 3, 5, 2],
  'Marks': [95, 70, 80, 60, 90]
}

# Create a DataFrame using the DataFrame() method with index
df = pd.DataFrame(data,  index=['RowA', 'RowB', 'RowC', 'RowD', 'RowE'],)

print("Student Records\n\n",df)

# Access using rows and columns by integer positions
print("\nValue = \n",df.iloc[[1,2,3]])

Student Records

      Student  Rank  Marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Value =
      Student  Rank  Marks
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60

In [ ]:
import pandas as pd
data = {
  'Student': ["Amit", "John", "Jacob", "David", "Steve"],
  'Rank': [1, 4, 3, 5, 2],
  'Marks': [95, 70, 80, 60, 90]
}
df=pd.DataFrame(data,index=['Student1','Student2','Student3','Student4','Student5'],)
print("Student Records\n\n",df)

Student Records

          Student  Rank  Marks
Student1    Amit     1     95
Student2    John     4     70
Student3   Jacob     3     80
Student4   David     5     60
Student5   Steve     2     90

In [ ]:
import pandas as pd
data = {
  'Student': ["Amit", "John", "Jacob", "David", "Steve"],
  'Rank': [1, 4, 3, 5, 2],
  'Marks': [95, 70, 80, 60, 90]
}
df=pd.DataFrame(data,index=['Student1','Student2','Student3','Student4','Student5'],)
print("Student Records\n\n",df)
for col in df:
  print(col)

Student Records

          Student  Rank  Marks
Student1    Amit     1     95
Student2    John     4     70
Student3   Jacob     3     80
Student4   David     5     60
Student5   Steve     2     90
Student
Rank
Marks
Student
Rank
Marks

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nData Types:\n",res.dtypes)

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Data Types:
 student    object
rank        int64
marks       int64
dtype: object

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nNumber of Dimensions:\n",res.ndim)

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Number of Dimensions:
 2

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nNumber of elements:\n",res.size)

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Number of elements:
 15

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nDimensionality:\n",res.shape)

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Dimensionality:
 (5, 3)

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nDataFrame Index:\n",res.index)

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

DataFrame Index:
 Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object')

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nTranspose:\n",res.T)

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Transpose:
          RowA  RowB   RowC   RowD   RowE
student  Amit  John  Jacob  David  Steve
rank        1     4      3      5      2
marks      95    70     80     60     90

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nFirst 5 rows:\n",res.head())

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

First 5 rows:
      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

In [ ]:
import pandas as pd
data={
    'student':["Amit","John","Jacob","David","Steve"],
    'rank':[1,4,3,5,2],
    'marks':[95,70,80,60,90]

}
res=pd.DataFrame(data,index=['RowA','RowB','RowC','RowD','RowE'],)
print("\nStudent Records\n\n",res)
print("\nLast 5 rows:\n",res.tail())

Student Records

      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

Last 5 rows:
      student  rank  marks
RowA    Amit     1     95
RowB    John     4     70
RowC   Jacob     3     80
RowD   David     5     60
RowE   Steve     2     90

In [ ]:
import pandas as pd

# Dataset
data1 = {
  'id': ["S01", "S02", "S03", "S04", "S05"],
  'student': ["Amit", "John", "Jacob", "David", "Steve"],
  'roll': [101, 102, 103, 104, 105]
}
data2 = {
  'rank': [1, 4, 3, 5, 2],
  'marks': [95, 70, 80, 60, 90]
}

# DataFrame
dataFrame1 = pd.DataFrame(data1)
print("DataFrame1 =\n",dataFrame1)
dataFrame2 = pd.DataFrame(data2)
print("\nDataFrame2 =\n",dataFrame2)

# Join two DataFrames
resDF = dataFrame1.join(dataFrame2)
print("\nJoining DataFrames =\n",resDF)

DataFrame1 =
     id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105

DataFrame2 =
    rank  marks
0     1     95
1     4     70
2     3     80
3     5     60
4     2     90

Joining DataFrames =
     id student  roll  rank  marks
0  S01    Amit   101     1     95
1  S02    John   102     4     70
2  S03   Jacob   103     3     80
3  S04   David   104     5     60
4  S05   Steve   105     2     90

In [ ]:

import pandas as pd

# Dataset
data1 = {
  'id': ["S01", "S02", "S03", "S04", "S05"],
  'student': ["Amit", "John", "Jacob", "David", "Steve"],
  'roll': [101, 102, 103, 104, 105]
}
data2 = {
  'id': ["S06", "S07", "S08"],
  'student': ["Ben", "Kane", "Rohit"],
  'roll': [106, 107, 108]
}

# DataFrame
dataFrame1 = pd.DataFrame(data1, index=[0, 1, 2, 3, 4])
print("DataFrame1 =\n",dataFrame1)
dataFrame2 = pd.DataFrame(data2, index=[5, 6, 7])
print("\nDataFrame2 =\n",dataFrame2)

# Concatenating two DataFrames
resDF = pd.concat([dataFrame1, dataFrame2])
print("\nConcatenating DataFrames =\n",resDF)

DataFrame1 =
     id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105

DataFrame2 =
     id student  roll
5  S06     Ben   106
6  S07    Kane   107
7  S08   Rohit   108

Concatenating DataFrames =
     id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105
5  S06     Ben   106
6  S07    Kane   107
7  S08   Rohit   108

SERIES

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data)
print("Series\n",s)

Series
 0     10
1     20
2     40
3     80
4    100
dtype: int64

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data)
print("Series\n",s)
print("\nValue from a Pandas series:",s[2])

Series
 0     10
1     20
2     40
3     80
4    100
dtype: int64

Value from a Pandas series: 40

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data,index=["RowA","RowB","RowC","RowD","RowE"])
print("Series (with custom index labels):\n",s)

Series (with custom index labels):
 RowA     10
RowB     20
RowC     40
RowD     80
RowE    100
dtype: int64

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data,index=["RowA","RowB","RowC","RowD","RowE"])
print("Series with custom index labels: \n",s)
print("\n Value from a pandas series with label ROW D:",s["RowD"])

Series with custom index labels:
 RowA     10
RowB     20
RowC     40
RowD     80
RowE    100
dtype: int64

 Value from a pandas series with label ROW D: 80

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data)
print("Series:\n",s)
print("\nSeries Datatype:",s.dtype)

Series:
 0     10
1     20
2     40
3     80
4    100
dtype: int64

Series Datatype: int64

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data)
print("Series:\n",s)
print("\nSeries Dimensions:",s.ndim)

Series:
 0     10
1     20
2     40
3     80
4    100
dtype: int64

Series Dimensions: 1

In [ ]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data)
print("Series:\n",s)
print("\nSeries size:",s.size)

Series:
 0     10
1     20
2     40
3     80
4    100
dtype: int64

Series size: 5

In [ ]:
import pandas as pd

# Data to be stored in the Pandas Series
data = [10, 20, 40, 80, 100]

# Create a Series using the Series() method
# We have set the Series name using the name attribute
s = pd.Series(data, name ="MyNumberSeries")

# Display the Series
print("Series: \n", s)

# Return the name of the Series
print("\nSeries Name: ", s.name)

Series:
 0     10
1     20
2     40
3     80
4    100
Name: MyNumberSeries, dtype: int64

Series Name:  MyNumberSeries

In [ ]:
import pandas as pd
import numpy as np

# Data to be stored in the Pandas Series
data =[10, 20, 40, 80, 100, np.nan]

# Create a Series using the Series() method
s = pd.Series(data)

# Display the Series
print("Series: \n", s)

# Check whether the Series has NaNs
print("\nDoes the Series has NaN? ", s.hasnans)

Series:
 0     10.0
1     20.0
2     40.0
3     80.0
4    100.0
5      NaN
dtype: float64

Does the Series has NaN?  True

In [2]:
import pandas as pd
data=[10,20,40,80,100]
s=pd.Series(data,index=["RowA","RowB","RowC","RowD","RowE"])
print("Series (with custom index labels):\n",s)
print("\n Series Index:",s.index)

Series (with custom index labels):
 RowA     10
RowB     20
RowC     40
RowD     80
RowE    100
dtype: int64

 Series Index: Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object')

In [5]:
import pandas as pd
data=[10,20,40,80,100,200,300,500]
s=pd.Series(data,index=["RowA","RowB","Rowc","RowD","RowE","RowF","RowG","RowH"])
print("Series (with custom index labels):\n",s)
print("\nThe first 5 rows of the series",s.head())
print("\nTHe last 5 rows of the series:\n",s.tail())
print("\nSeries summary:\n",s.info())

Series (with custom index labels):
 RowA     10
RowB     20
Rowc     40
RowD     80
RowE    100
RowF    200
RowG    300
RowH    500
dtype: int64

The first 5 rows of the series RowA     10
RowB     20
Rowc     40
RowD     80
RowE    100
dtype: int64

THe last 5 rows of the series:
 RowD     80
RowE    100
RowF    200
RowG    300
RowH    500
dtype: int64
<class 'pandas.core.series.Series'>
Index: 8 entries, RowA to RowH
Series name: None
Non-Null Count  Dtype
--------------  -----
8 non-null      int64
dtypes: int64(1)
memory usage: 128.0+ bytes

Series summary:
 None

In [14]:
import pandas as pd
# data1=[10,20,40,80,100]
# data2=[25,75,5,95,45]
data1=[55,20,52,40]
data2=[45,65,42,81]
series1=pd.Series(data1)
series2=pd.Series(data2)
print("Before combining the series: \n")
print("Series1: \n",series1)
print("Series2: \n",series2)
def demo(x1,x2):
  if (x1>x2):
    return x1
  else:
    return x2
res=series1.combine(series2,demo)
print("\n After Combinig into one:\n",res)

Before combining the series:

Series1:
 0    55
1    20
2    52
3    40
dtype: int64
Series2:
 0    45
1    65
2    42
3    81
dtype: int64

 After Combinig into one:
 0    55
1    65
2    52
3    81
dtype: int64

In [17]:
import pandas as pd
s=pd.Series(["p","q","r","s","t"],dtype="category")
print("Series=\n",s)

Series=
 0    p
1    r
2    r
3    q
4    s
dtype: category
Categories (4, object): ['p', 'q', 'r', 's']

In [18]:
import pandas as pd
df = pd.DataFrame({"Cat1": list("pqrs"), "Cat2": list("pqrp"), "Cat3": list("qrrr")}, dtype="category")
print("DataFrame = \n", df)
print("\nDataType of each column = \n", df.dtypes)

DataFrame =
   Cat1 Cat2 Cat3
0    p    p    q
1    q    q    r
2    r    r    r
3    s    p    r

DataType of each column =
 Cat1    category
Cat2    category
Cat3    category
dtype: object

In [19]:
import pandas as pd

# Creating a Categorical Series
s = pd.Series(["p", "q", "r", "s", "q"], dtype="category")

# Display the Series
print("Series = \n", s)

# Append Category
s = s.cat.add_categories([5])

# Display the updated category
print("\nUpdated Categories = ",s.cat.categories)

Series =
 0    p
1    q
2    r
3    s
4    q
dtype: category
Categories (4, object): ['p', 'q', 'r', 's']

Updated Categories =  Index(['p', 'q', 'r', 's', 5], dtype='object')

In [36]:
import pandas as pd
data = [
    {"Rollno":1001,"Name":"Aman","English": 55,"Maths": 61,"Science": 72,"Hindi": 81,"Punjabi": 91,},
    {"Rollno":1002,"Name":"Sachin","English": 61,"Maths": 70,"Science": 80,"Hindi": 90,"Punjabi": 82},
    {"Rollno":1003,"Name":"Rohit","English": 63,"Maths": 40,"Science": 31,"Hindi": 41,"Punjabi": 31},
    {"Rollno":1004,"Name":"Mohit","English": 71,"Maths": 29,"Science": 40,"Hindi": 39,"Punjabi": 40},
    {"Rollno":1005,"Name":"Pooja","English": 93,"Maths": 51,"Science": 52,"Hindi": 61,"Punjabi": 62},
    {"Rollno":1006,"Name":"Kiran","English": 83,"Maths": 73,"Science": 72,"Hindi": 91,"Punjabi": 92},
    {"Rollno":1007,"Name":"Prerna","English": 80,"Maths": 73,"Science": 72,"Hindi": 92,"Punjabi": 91},
    {"Rollno":1008,"Name":"Puri","English": 91,"Maths": 74,"Science": 82,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1009,"Name":"Mohit","English": 91,"Maths": 75,"Science": 81,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1010,"Name":"Abhay","English": 81,"Maths": 81,"Science": 91,"Hindi": 91,"Punjabi": 92}
]
df=pd.DataFrame(data)
df=df.eval('Sum= English+Maths+Science+Hindi+Punjabi')
df=df.eval('Percentage=Sum*0.2')
df

   Rollno    Name  English  Maths  Science  Hindi  Punjabi  Sum  Percentage
0    1001    Aman       55     61       72     81       91  360        72.0
1    1002  Sachin       61     70       80     90       82  383        76.6
2    1003   Rohit       63     40       31     41       31  206        41.2
3    1004   Mohit       71     29       40     39       40  219        43.8
4    1005   Pooja       93     51       52     61       62  319        63.8
5    1006   Kiran       83     73       72     91       92  411        82.2
6    1007  Prerna       80     73       72     92       91  408        81.6
7    1008    Puri       91     74       82     92       81  420        84.0
8    1009   Mohit       91     75       81     92       81  420        84.0
9    1010   Abhay       81     81       91     91       92  436        87.2

In [40]:
import pandas as pd
data = [
    {"Rollno":1001,"Name":"Aman","English": 55,"Maths": 61,"Science": 72,"Hindi": 81,"Punjabi": 91,},
    {"Rollno":1002,"Name":"Sachin","English": 61,"Maths": 70,"Science": 80,"Hindi": 90,"Punjabi": 82},
    {"Rollno":1003,"Name":"Rohit","English": 63,"Maths": 40,"Science": 31,"Hindi": 41,"Punjabi": 31},
    {"Rollno":1004,"Name":"Mohit","English": 71,"Maths": 29,"Science": 40,"Hindi": 39,"Punjabi": 40},
    {"Rollno":1005,"Name":"Pooja","English": 93,"Maths": 51,"Science": 52,"Hindi": 61,"Punjabi": 62},
    {"Rollno":1006,"Name":"Kiran","English": 83,"Maths": 73,"Science": 72,"Hindi": 91,"Punjabi": 92},
    {"Rollno":1007,"Name":"Prerna","English": 80,"Maths": 73,"Science": 72,"Hindi": 92,"Punjabi": 91},
    {"Rollno":1008,"Name":"Puri","English": 91,"Maths": 74,"Science": 82,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1009,"Name":"Mohit","English": 91,"Maths": 75,"Science": 81,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1010,"Name":"Abhay","English": 81,"Maths": 81,"Science": 91,"Hindi": 91,"Punjabi": 92}
]
df1=pd.DataFrame(data)
df1

   Rollno    Name  English  Maths  Science  Hindi  Punjabi
0    1001    Aman       55     61       72     81       91
1    1002  Sachin       61     70       80     90       82
2    1003   Rohit       63     40       31     41       31
3    1004   Mohit       71     29       40     39       40
4    1005   Pooja       93     51       52     61       62
5    1006   Kiran       83     73       72     91       92
6    1007  Prerna       80     73       72     92       91
7    1008    Puri       91     74       82     92       81
8    1009   Mohit       91     75       81     92       81
9    1010   Abhay       81     81       91     91       92

In [41]:
df1.insert(7,"Total",df1["English"]+df1["Maths"]+df1["Science"]+df1["Hindi"]+df1["Punjabi"])
df1

   Rollno    Name  English  Maths  Science  Hindi  Punjabi  Total
0    1001    Aman       55     61       72     81       91    360
1    1002  Sachin       61     70       80     90       82    383
2    1003   Rohit       63     40       31     41       31    206
3    1004   Mohit       71     29       40     39       40    219
4    1005   Pooja       93     51       52     61       62    319
5    1006   Kiran       83     73       72     91       92    411
6    1007  Prerna       80     73       72     92       91    408
7    1008    Puri       91     74       82     92       81    420
8    1009   Mohit       91     75       81     92       81    420
9    1010   Abhay       81     81       91     91       92    436

In [42]:
df1.insert(8,"Percentage",(df1["Total"]/500)*100)
df1

   Rollno    Name  English  Maths  Science  Hindi  Punjabi  Total  Percentage
0    1001    Aman       55     61       72     81       91    360        72.0
1    1002  Sachin       61     70       80     90       82    383        76.6
2    1003   Rohit       63     40       31     41       31    206        41.2
3    1004   Mohit       71     29       40     39       40    219        43.8
4    1005   Pooja       93     51       52     61       62    319        63.8
5    1006   Kiran       83     73       72     91       92    411        82.2
6    1007  Prerna       80     73       72     92       91    408        81.6
7    1008    Puri       91     74       82     92       81    420        84.0
8    1009   Mohit       91     75       81     92       81    420        84.0
9    1010   Abhay       81     81       91     91       92    436        87.2

In [43]:
df1.to_csv("ReportCard.csv")

In [44]:
df1.to_excel("ReportCard01.xlsx")

In [45]:
df1.to_json("ReportCard02.json")

In [46]:
df1.to_html("RecportCard03.html")

In [47]:
df1.columns

Index(['Rollno', 'Name', 'English', 'Maths', 'Science', 'Hindi', 'Punjabi',
       'Total', 'Percentage'],
      dtype='object')

In [48]:
df1.shape

(10, 9)

In [49]:
df1.ndim

2

In [50]:
df1.describe()

,Rollno,English,Maths,Science,Hindi,Punjabi,Total,Percentage
count,10.00000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,1005.50000,76.90000,62.700000,67.300000,77.000000,74.300000,358.200000,71.640000
std,3.02765,13.66626,17.224337,19.692356,21.725561,22.450192,84.100205,16.820041
min,1001.00000,55.00000,29.000000,31.000000,39.000000,31.000000,206.000000,41.200000
25%,1003.25000,65.00000,53.500000,57.000000,66.000000,66.750000,329.250000,65.850000
50%,1005.50000,80.50000,71.500000,72.000000,90.500000,81.500000,395.500000,79.100000
75%,1007.75000,89.00000,73.750000,80.750000,91.750000,91.000000,417.750000,83.550000
max,1010.00000,93.00000,81.000000,91.000000,92.000000,92.000000,436.000000,87.200000

In [51]:
df1.dtypes

Rollno          int64
Name           object
English         int64
Maths           int64
Science         int64
Hindi           int64
Punjabi         int64
Total           int64
Percentage    float64
dtype: object