In [1]:
import pandas as pd
data = [
    {"Rollno":1001,"Name":"Aman","English": 55,"Maths": 61,"Science": 72,"Hindi": 81,"Punjabi": 91,},
    {"Rollno":1002,"Name":"Sachin","English": 61,"Maths": 70,"Science": 80,"Hindi": 90,"Punjabi": 82},
    {"Rollno":1003,"Name":"Rohit","English": 63,"Maths": 40,"Science": 31,"Hindi": 41,"Punjabi": 31},
    {"Rollno":1004,"Name":"Mohit","English": 71,"Maths": 29,"Science": 40,"Hindi": 39,"Punjabi": 40},
    {"Rollno":1005,"Name":"Pooja","English": 93,"Maths": 51,"Science": 52,"Hindi": 61,"Punjabi": 62},
    {"Rollno":1006,"Name":"Kiran","English": 83,"Maths": 73,"Science": 72,"Hindi": 91,"Punjabi": 92},
    {"Rollno":1007,"Name":"Prerna","English": 80,"Maths": 73,"Science": 72,"Hindi": 92,"Punjabi": 91},
    {"Rollno":1008,"Name":"Puri","English": 91,"Maths": 74,"Science": 82,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1009,"Name":"Mohit","English": 91,"Maths": 75,"Science": 81,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1010,"Name":"Abhay","English": 81,"Maths": 81,"Science": 91,"Hindi": 91,"Punjabi": 92}
]
df=pd.DataFrame(data)
df=df.eval('Sum= English+Maths+Science+Hindi+Punjabi')
df=df.eval('Percentage=Sum*0.2')
df

   Rollno    Name  English  Maths  Science  Hindi  Punjabi  Sum  Percentage
0    1001    Aman       55     61       72     81       91  360        72.0
1    1002  Sachin       61     70       80     90       82  383        76.6
2    1003   Rohit       63     40       31     41       31  206        41.2
3    1004   Mohit       71     29       40     39       40  219        43.8
4    1005   Pooja       93     51       52     61       62  319        63.8
5    1006   Kiran       83     73       72     91       92  411        82.2
6    1007  Prerna       80     73       72     92       91  408        81.6
7    1008    Puri       91     74       82     92       81  420        84.0
8    1009   Mohit       91     75       81     92       81  420        84.0
9    1010   Abhay       81     81       91     91       92  436        87.2

In [2]:
import pandas as pd
data = [
    {"Rollno":1001,"Name":"Aman","English": 55,"Maths": 61,"Science": 72,"Hindi": 81,"Punjabi": 91,},
    {"Rollno":1002,"Name":"Sachin","English": 61,"Maths": 70,"Science": 80,"Hindi": 90,"Punjabi": 82},
    {"Rollno":1003,"Name":"Rohit","English": 63,"Maths": 40,"Science": 31,"Hindi": 41,"Punjabi": 31},
    {"Rollno":1004,"Name":"Mohit","English": 71,"Maths": 29,"Science": 40,"Hindi": 39,"Punjabi": 40},
    {"Rollno":1005,"Name":"Pooja","English": 93,"Maths": 51,"Science": 52,"Hindi": 61,"Punjabi": 62},
    {"Rollno":1006,"Name":"Kiran","English": 83,"Maths": 73,"Science": 72,"Hindi": 91,"Punjabi": 92},
    {"Rollno":1007,"Name":"Prerna","English": 80,"Maths": 73,"Science": 72,"Hindi": 92,"Punjabi": 91},
    {"Rollno":1008,"Name":"Puri","English": 91,"Maths": 74,"Science": 82,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1009,"Name":"Mohit","English": 91,"Maths": 75,"Science": 81,"Hindi": 92,"Punjabi": 81},
    {"Rollno":1010,"Name":"Abhay","English": 81,"Maths": 81,"Science": 91,"Hindi": 91,"Punjabi": 92}
]
df1=pd.DataFrame(data)
df1

   Rollno    Name  English  Maths  Science  Hindi  Punjabi
0    1001    Aman       55     61       72     81       91
1    1002  Sachin       61     70       80     90       82
2    1003   Rohit       63     40       31     41       31
3    1004   Mohit       71     29       40     39       40
4    1005   Pooja       93     51       52     61       62
5    1006   Kiran       83     73       72     91       92
6    1007  Prerna       80     73       72     92       91
7    1008    Puri       91     74       82     92       81
8    1009   Mohit       91     75       81     92       81
9    1010   Abhay       81     81       91     91       92

In [3]:
df1.insert(7,"Total",df1["English"]+df1["Maths"]+df1["Science"]+df1["Hindi"]+df1["Punjabi"])
df1

   Rollno    Name  English  Maths  Science  Hindi  Punjabi  Total
0    1001    Aman       55     61       72     81       91    360
1    1002  Sachin       61     70       80     90       82    383
2    1003   Rohit       63     40       31     41       31    206
3    1004   Mohit       71     29       40     39       40    219
4    1005   Pooja       93     51       52     61       62    319
5    1006   Kiran       83     73       72     91       92    411
6    1007  Prerna       80     73       72     92       91    408
7    1008    Puri       91     74       82     92       81    420
8    1009   Mohit       91     75       81     92       81    420
9    1010   Abhay       81     81       91     91       92    436

In [5]:
df1.to_csv("ReportCard.csv")

In [ ]:
df1.to_excel("ReportCard01.xlsx")

In [6]:
df1.to_json("ReportCard02.json")

In [ ]:
df1.to_html("RecportCard03.html")

In [8]:
df1.columns

Index(['Rollno', 'Name', 'English', 'Maths', 'Science', 'Hindi', 'Punjabi',
       'Total'],
      dtype='object')

In [9]:
df1.shape

(10, 8)

In [10]:
df1.ndim

2

In [15]:
df1.describe()

,Rollno,English,Maths,Science,Hindi,Punjabi,Total
count,10.00000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,1005.50000,76.90000,62.700000,67.300000,77.000000,74.300000,358.200000
std,3.02765,13.66626,17.224337,19.692356,21.725561,22.450192,84.100205
min,1001.00000,55.00000,29.000000,31.000000,39.000000,31.000000,206.000000
25%,1003.25000,65.00000,53.500000,57.000000,66.000000,66.750000,329.250000
50%,1005.50000,80.50000,71.500000,72.000000,90.500000,81.500000,395.500000
75%,1007.75000,89.00000,73.750000,80.750000,91.750000,91.000000,417.750000
max,1010.00000,93.00000,81.000000,91.000000,92.000000,92.000000,436.000000

In [16]:
df1.dtypes

Rollno      int64
Name       object
English     int64
Maths       int64
Science     int64
Hindi       int64
Punjabi     int64
Total       int64
dtype: object