In [2]:
name=input("Enter your name= ")
rollNo=input("Enter your roll Number= ")
fee=input("Enter your fee= ")
gender=input("Enter your gender= ")
print(name)
print(rollNo)
print(fee)
print(gender)
print(type(name))
print(type(rollNo))
print(type(fee))
print(type(gender))

Enter your name=  Kartikay Jain
Enter your roll Number=  21
Enter your fee=  1805.52
Enter your gender=  Male

Kartikay Jain
21
1805.52
Male
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [1]:
name=input("Enter your name= ")
rollNo=int(input("Enter your roll Number= "))
fee=float(input("Enter your fee= "))
gender=input("Enter your gender= ")
print(name)
print(rollNo)
print(fee)
print(gender)
print(type(name))
print(type(rollNo))
print(type(fee))
print(type(gender))

Enter your name=  manoj
Enter your roll Number=  1
Enter your fee=  12.12
Enter your gender=  M

manoj
1
12.12
M
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
print(type({}))
print(type([]))
print(type(()))

<class 'dict'>
<class 'list'>
<class 'tuple'>

In [4]:
p=65
print(p)
print(chr(p))

65
A

In [5]:
p='A'
print(p)
print(ord(p))

A
65

In [1]:
marks=int(input("Enter marks: "))

Enter marks:  25

In [3]:
p=55
print(chr(p))

7

In [7]:
name="Kartikay Jain"
age= 19
string="My name is {} and I am {} years old.".format(name,age)
print(string)
string=f"My name is {name} and I am {age} years old."
print(string)

My name is Kartikay Jain and I am 19 years old.
My name is Kartikay Jain and I am 19 years old.