In [4]:
name=input("Enter your name: ")
rollNo=int(input("Enter your roll number: "))
math=int(input("Enter marks of mathematics: "))
eng=int(input("Enter marks of English: "))
sci=int(input("Enter marks of science: "))
total=math+eng+sci
percent=(total/300)*100
print("Marksheet")
print(f"Student Name: {name}")
print(f"Student Roll Number: {rollNo}")
print(f"Marks of mathematics:{math}")
print(f"Marks of english:{eng}")
print(f"Marks of science:{sci}")
print(f"Total marks: {total}")
print(f"Percentage: {percent}")

Enter your name:  Kartikay Jain
Enter your roll number:  23
Enter marks of mathematics:  54
Enter marks of English:  67
Enter marks of science:  98

Marksheet
Student Name: Kartikay Jain
Student Roll Number: 23
Marks of mathematics:54
Marks of english:67
Marks of science:98
Total marks: 219
Percentage: 73.0

In [10]:
num=int(input("Enter a number: "))
cube=num**3
print(f"Cube of the {num} is {cube}")

Enter a number:  125

Cube of the 125 is 1953125

In [14]:
x=1
y=1
z=x^y
print(z)

0

In [15]:
x=5
y=6
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [16]:
a=10
b=20
c=30
d=40
print(a<b and c<d)
print(a>b or c<d)
print(not(a<b or c<d))

True
True
False

In [20]:
x=["John","Keith","Manoj"]
print("Manohar" in x)
print("Keith" in x)
print("Man" not in x)

False
True
True

In [22]:
x= [5,2]
y= [5,2]
z=y
print(x is y)
print(y is z)
print(x is not y)
print(y is not z)

False
True
True
False

In [27]:
a=15
a<<=1
print(a)
a>>=1
print(a)

30
15

In [42]:
a=int(input("Enter your first number: "))
b=int(input("Enter your second number: "))
print("Value of a before swap=",a)
print("value of b before swap=",b)
# a=a-b
# b=a+b
# a=b-a+
# a=a/b
# b=a*b
# a=b/a

a=a^b
b=a^b
a=a^b
print("value of a after swap=",a)
print("value of b after swap=",b)

Enter your first number:  12
Enter your second number:  2

Value of a before swap= 12
value of b before swap= 2
value of a after swap= 2
value of b after swap= 12

In [43]:
name="Kiran"
rollNo=1
gender='f'
fee=120.120
print("Student Name=",name)
print("Student RollNo=",rollNo)
print("Student Gender=",gender)
print("Student fee=",fee)
print("Student name=%s"%name)
print("Student rollNO=%d"%rollNo)
print("Student Gender=%c"%gender)
print("Student fee=%f"%fee)

Student Name= Kiran
Student RollNo= 1
Student Gender= f
Student fee= 120.12
Student name=Kiran
Student rollNO=1
Student Gender=f
Student fee=120.120000

In [45]:
print("Student name={0} \nStudent rollNO= {1} \nStudent Gender={2} \nStudent fee={3}".format(name,rollNo,gender,fee))

Student name=Kiran
Student rollNO= 1
Student Gender=f
Student fee=120.12

In [47]:
print(f"Student name={name} \nStudent rollNO= {rollNo} \nStudent Gender={gender} \nStudent fee={fee}")

Student name=Kiran
Student rollNO= 1
Student Gender=f
Student fee=120.12